---
layout: default
---

<div class="about">
	<section class="author-profile" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
	    <div class="author-cover image-bg" style="background-image: url('/assets/lava_sunset.jpg')"></div>
	    <figure class="author-image   has-cover  ">
	        <div class="img image-bg" style="background-image: url(/assets/zheng_2.jpg)">
	            <a class="hidden" href="https://flipdazed.github.io/assets/face.jpg" itemprop="image">Zheng's Picture</a>
	        </div>
	    </figure>
	    
	<div class="author-info">
	    <h1 class="author-title" itemprop="name">Zheng Shen</h1>
	    <h2 class="author-bio" itemprop="description">Passionated about Product & Design</h2> 
			<div class="author-meta">
	            <a href="https://www.linkedin.com/in/zhengshen/" itemprop="sameAs" class="social-linkedin">LinkedIn</a> 
				<a href="https://github.com/ZayneS" itemprop="sameAs" class="social-github-circled">GitHub</a> 
				<a href="https://ZayneS.github.io/media/pdf/zheng_shen.pdf" itemprop="sameAs" class="social-phantom"><i class="fa fa-file-text-o"></i> Résumé</a> 
			</div>                                   
	 </div>                                       
	</section>


	<div class="resume main-container">
	  {{ content }}
	</div>


</div>
